# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
settings.py
db.sqlite3
media/
static_cdn/ # Or whatever your collected static files directory is named

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other common files
.coverage
.tox/
.eggs/
# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# ---- Virtual environment ----
venv/
env/
.noteapivn/
*.env

# ---- Django ----
*.log
db.sqlite3
media/
staticfiles/
static/
*.pot
*.pyc
lessons

# ---- VS Code ----
.vscode/
.history/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- PostgreSQL ----
*.pgsql
*.psql

# ---- Migrations ----
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# ---- Cache ----
*.cache
